jax == 0.4.37
# --find-links https://storage.googleapis.com/jax-releases/jax_cuda_releases.html
# jax[cuda12_pip]
# --find-links https://storage.googleapis.com/jax-releases/libtpu_releases.html
# jax [tpu] == 0.4.20

numpy
chex
blackjax-nightly
matplotlib
seaborn
arviz
pandas
hydra-core == 1.3
tqdm
scikit-learn
equinox
